<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input id="name" type="text" name="landmark[name]" value="<%= @landmark.name %>">
  Year Completed: <input id="year_completed" type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>">
  <input type="submit" value="Edit Landmark">
</form>

