<h1>Create a new Figure</h1>

<form method="POST" action='/figures'>
    <label for="figure_name">Name</label><br>
    <input id="figure_name" type="text" name="figure[name]" /><br>
    
    <label for="figure_title">Figure Title</label><br>
    <input type="checkbox" id="figure_title"  name="figure[title_ids][]" /><br>
    
    <label for="figure_landmark">Figure Landmark</label><br>
    <input id="figure_landmark" type="text" name="figure[landmark_ids][]" /><br>
    
    <label for="landmark_name">Landmark Name</label><br>
    <input id="landmark_name" type="text" name="landmark[name]" /><br>
    
    <label for="title_name">Title</label><br>
    <input id="title_name" type="text" name="title[name]" /><br>
    
    <input type="submit" value="Create New Figure">
</form>