<h1>Figure</h1>

<p>Name: <%= @figure.name %></p>
Title:
<% @figure.titles.each do |title| %>
<%= title.name %>
<% end %>

Landmark:
<% @figure.landmarks.each do |landmark|  %>
<%= landmark.name %>
<% end %>
